# Ignore
database/**/*
venv
fe-databox/node_modules
.coverage
*.pyc
__pycache__
*/__pycache__
fe-databox/node_modules

# Allow
!database/users.txt
!database/usernames/user/profiles.txt
!database/usernames/user/backup.txt
