@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  height: 968px;

  font-weight: normal;
}

::selection {
  color: var(--vt-c-black);
  background: var(--theme-color-dark);
}

input {
  color: var(--vt-c-black-mute);
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
